body{
    background-color: antiquewhite;
    justify-content: center;
}
.conterner{
    background-color: rgb(207, 121, 161);
    background: radial-gradient(circle, rgb(166, 143, 167) 0%, rgb(141, 60, 110) 100%);
    width: 100%px;
    height: 190px;
    text-align: center;
    padding-top: 30px;   
}


.ofertas{
  background-color: rgb(211, 182, 191);
  width: 100%;
  height: 30px;
}
.artigos{
  background-color: aliceblue;
  height: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  padding-top: 10px;
}
.artigos2{
  background-color: aliceblue;
  height: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  padding-left: 80%;
  padding-bottom: 20px;
  
}
.home{
  width: 20px;
  padding-left: 82%;
  cursor: pointer;
}
.button {
    background-color:rgb(207, 121, 161);; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    display:flexbox;
    justify-content:center;
  }
  
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(207, 121, 161);
   
  }
  .comprar { background-color:rgb(207, 121, 161);; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    display:flexbox;
    background-color: white; 
    color: black; 
    border: 2px solid rgb(207, 121, 161);
  margin-left: 65px;
  
  
  }
  
    
    
 
  .button1:hover {
    background-color: #aa7eaa;
    color: white;
  }
  
  
  
  
  
h1{
  
    font-size: 50px;
    text-align: center;
    padding: 50px;
    color: rgb(247, 218, 237);
  text-shadow: 2px 2px 4px #000000;
  font-size: 300%;
}
  

h2{
 
  text-align: center;
  
}
p{ 
  text-align: center;
  background-color: aliceblue;
}

.produtos{
    background-color: rgb(139, 87, 119);
    width: 100%;
    height: 700px;
    padding-top: 30px;
    display: flex;
}
.logo{
  width: 130px;
}
img{
    width:80%;
    justify-content:center;
    float:left;
    padding: 20px;
    margin-left: 20px;
    display: flex;
   align-items: center;
   border: 0px solid #ddd;
   border-radius: 4px;
   padding: 5px;
   cursor: pointer;
   max-width: 100%;
   
}
img:hover {
  box-shadow: 0 0 2px 3px rgba(129, 65, 110, 0.5);
}
.cadernos{
    margin-left: 100px;
    width:300px ;
    height: 700px;
    background-color: rgb(185, 162, 183);
   border-radius: 10px;
   
 
}
h3{
  padding-left: 20px;
  cursor: pointer;
}
.conteudo{
  padding-top: 0px;
}
.cardtitulo{
  padding-left: 0px;
  background-color: rgb(243, 239, 243); 
 
}
.kitcostura{
  margin-left: 200px;
  
}
.contato{
  width: 200px;
  height: 100px;
  align-items: center;
  
}
.cnt{
  background-color: antiquewhite;
    width: 100%;
    height: 700px;
    padding-top: 30px;
 justify-content: center;  
  display: flex;
}
h4{
  background-color: azure;
  font-size: 25px;
  text-align: center;
}
.vendas{
  width: 500px;
}
.carrinho{
  padding-top: 100px;
  padding-right: 800px;
}
h5{
  padding-right: 700px;
  font-size: 30px;
 
 
}
.home2{
  width: 30px;
  padding-right: 7%;
  padding-left: 70%;
padding-top: 0px;

}
.imgbotons{
  height: 50px;
  width: 50px;
}